body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.Nav {
    overflow: hidden;
    align-items: center;
    padding: 30px 40px;
    box-shadow: 0 2px 2px -2px gray;
}

.logo {
    float: left;
}

.topnav-right {
    float: right;
}

.topnav-right > a{
    margin: 0 5px;
}